@{
    ViewBag.Title = "Challenges";
}


 <form >
 <br /><br />
    Select A Challenge:   <select name="challenges">

        <option value="Select"></option>
        <option value="Challenge1">Challenge1</option>
        <option value="Challenge2">Challenge2</option>
        <option value="Challenge3">Challenge3</option>
        <option value="Challenge4X">Challenge4</option>
                              <option value="Challenge4X">Challenge567</option>
    </select>
<br /><br />
  <input id="Button1" type="button" value="Enter" />
      

    
</form>
