
@{
    ViewBag.Title = "Home Page";

}

<div class="row" style="">
    <div class="col-md-4" style="font-family:Calibri; font-style:italic; color:tomato; background-color:bisque">
        <h1>Welcome To Our Fourth Challenges</h1>
        <p>
            Fourth offers a great opportunity to show your talent as a solution provider
        </p>
        <p><a class="btn btn-default" href="~/Home/Challenges">Challenges &raquo;</a></p>
    </div>
</div>

<div class="col-md-5">
    <img src="@Url.Content("~/Images/k10080898.png")" title="title" alt="additional title" width=1000 height=500 position="center" />
</div>


